body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: rgb(238, 184, 192);
}

.header_text {
    font-family: Nunito;
    font-size: 77px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 70px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}